* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    padding: 100px calc(50vw - 570px);
}

.header {
    background: url(../img/header-bg.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__title {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    color: #fff;
    margin: 40px 0;
}

.header__text {
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 2;
    opacity: 0.8;
}

.header__btn {
    width: 205px;
    height: 55px;
    border-radius: 28px;
    background-color: #fff;
    color: #3695ff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.025em;
    border: none;
    cursor: pointer;
    margin-top: 70px;
}

.header__scroll {
    position: absolute;
    bottom: 25px;
}

.main__about {
    text-align: center;
    margin: 5% 0;
}

.about__title {
    padding-bottom: 40px;
    font-size: 50px;
    color: #5694FE;
}

.about__text {
    width: 55%;
    margin: 0 auto;
    line-height: 30px;
}

.expert {
    background: #f1f8ff;
    padding: 100px calc(50vw - 580px);
    text-align: center;
}

.expert__title {
    font-weight: 300;
    text-transform: capitalize;
    font-size: calc(24px + 26 * (100vw / 2000));
    background: -webkit-linear-gradient(45deg, #3695ff 40%, #356ffd 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 115px;
}

.expert__wrap {
    display: flex;
    width: 100%;
    justify-content: center;
}

.expert__wrap_first {
    margin-bottom: 100px;
}

.expert__wrapper {
    max-width: 24vw;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expert__circle {
    border: 1px solid #bbc4cd;
    border-radius: 100px;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.expert__circle:hover {
    border-color: #3677fd;
}


.expert__skills {
    color: #3677fd;
    font-weight: 700;
    font-size: calc(16px + 8 * (100vw / 2000));
    text-transform: uppercase;
    margin-bottom: 35px;
}

.expert__text {
    font-weight: 400;
    font-style: 16px;
    line-height: 2.1875;
}
/*latest*/

.latest{
    padding: 100px calc(50vw - 580px);
    text-align: center;
}

.latest__title{
    font-weight: 300;
    text-transform: capitalize;
    font-size: calc(24px + 26 * (100vw / 2000));
    background: -webkit-linear-gradient(
            45deg, #3695ff 40%, #356ffd 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 115px;
}

.container {
    padding: 100px calc(50vw - 570px);
}

.latest__wrap{
    display: flex;
    width: 100%;
    justify-content: center;
}

.latest__wrap_first{
    margin-bottom: 100px;
}

.box{
    max-width: 24vw;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest__box{
    width: 359px;
    height: 269px;
    border-radius: 10px;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
/* Clients */

.clients {
    background-color: #f1f8ff;
}

.clients__content {
    text-align: center;
}

.clients__title {
    font-weight: 300;
    font-size: 50px;
    line-height: 35.12px;
    color: #3695ff;
    margin-bottom: 80px;
}

.clients__clients {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.clients__item {
    display: block;
    filter: grayscale(1);
}


/* Footer */

.footer {
    background: rgb(70, 157, 255);
    background: linear-gradient(135deg, rgba(70, 157, 255, 1) 35%, rgba(53, 104, 252, 1) 100%);
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.footer__text {
    font-weight: 300;
    font-size: 50px;
    line-height: 65px;
    color: #fff;
}

.footer__text span {
    font-weight: 700;
}

.footer__btn {
    width: 205px;
    height: 55px;
    border-radius: 28px;
    background-color: #fff;
    color: #3695ff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.025em;
    border: none;
    cursor: pointer;
}